:root {
  --backgroundColor: #060606;
  --container-backgroundColor: #0b0d0e;
  --inner-backgroundColor: #cddce6;
  --fontColor: #ddd;
  --fontColor--em: #ffc788;
  --borderColor: #464e57;
}

*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: system-ui;
  color: var(--fontColor);
  background-color: var(--backgroundColor);
}

#root {
  width: 100%;
  display: grid;
  grid-template-columns: 280px auto;
  align-items: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: 0;
}

.u-mainPage {
  width: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 40px;
}

.u-formPlanner {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.u-container {
  width: 300px;
  display: flex;
  flex-direction: column;
  background-color: var(--container-backgroundColor);
  padding: 10px;
  border: 1px solid var(--borderColor);
  border-radius: 5px;
  margin: 5px;
}

.u-innerContainer {
  display: flex;
  padding: 0 5px;
  gap: 5px;
}

.u-hr {
  width: 100%;
  border: 0;
  border-top: 1px solid var(--borderColor);
  margin: 10px 0;
}

.u-authFormContainer {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.u-authButtonsContainer {
  width: 250px;
  display: flex;
  justify-content: space-around;
  margin: 10px;
}

.u-formError {
  color: rgb(245, 151, 151);
  font-size: 13px;
  font-style: italic;
}

.u-buttonsFormContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}

.Gender,
.StartingClass,
.SoulLevel,
.AttributeIO,
.Humanity {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2px 0;
}

.Gender-label,
.StartingClass-label,
.SoulLevel-label {
  width: 120px;
}

.Gender-select,
.StartingClass-select {
  width: 150px;
  height: 20px;
  text-align: center;
  border: none;
}

.SoulLevel-level {
  width: 150px;
  text-align: center;
  border: 1px solid var(--borderColor);
}

.MiniCaption {
  display: flex;
  justify-content: space-around;
  font-size: 10px;
  color: var(--fontColor--em);
  text-align: center;
  margin: 5px 0;
}

.MiniCaption-label,
.AttributeIO-label,
.Humanity-label {
  width: 100px;
  text-align: initial;
}

.MiniCaption-base,
.MiniCaption-current {
  width: 40px;
}

.MiniCaption-decrease,
.MiniCaption-increase {
  width: 20px;
}

.AttributeIO-output,
.AttributeIO-input,
.Humanity-input {
  width: 40px;
  height: 20px;
  text-align: center;
}

.AttributeIO-button,
.Humanity-button {
  width: 20px;
  height: 20px;
}

.Humanity-input {
  width: 90px;
}
