.EquipmentSlot {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
}

.EquipmentSlot--sm {
  width: 70px;
  height: 70px;
}

.EquipmentSlot--md {
  width: 100px;
  height: 100px;
}

.EquipmentSlot-select {
  text-align: center;
}

.EquipmentSlot-select--sm {
  width: 70px;
  height: 20px;
  margin: 2px 0;
  /* height: 70px; */
}

.EquipmentSlot-select--md {
  width: 100px;
  height: 20px;
  margin: 2px 0;
  /* height: 100px; */
}

.EquipmentSlot-img--sm {
  width: 60px;
  height: 60px;
}

.EquipmentSlot-img--md {
  width: 90px;
  height: 90px;
}
