.Fieldset {
  display: flex;
  flex-direction: column;
  background-color: var(--container-backgroundColor);
  padding: 10px 10px 15px;
  border: 1px solid var(--borderColor);
  border-radius: 5px;
  margin: 5px;
}

.Fieldset-legend {
  width: fit-content;
  text-align: left;
  font-style: italic;
  padding: 0 10px;
}
