.Slot-select {
  width: 100px;
  height: 20px;
  margin: 4px 0;
  text-align: center;
}

.Slot-upgrade {
  display: flex;
  gap: 2px;
}

.Slot-upgradeSelect {
  width: 75px;
  height: 20px;
  margin: 4px 0;
  text-align: center;
}

.Slot-levelSelect {
  width: 23px;
  height: 20px;
  margin: 4px 0;
  text-align: center;
}
