:root {
  --backgroundColor: #060606;
  --container-backgroundColor: #0b0d0e; 
  --inner-backgroundColor: #cddce6;
  --fontColor: #ddd;
  --fontColor--em: #ffc788;
  --borderColor: #464e57;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: system-ui;
  color: var(--fontColor);
  background-color: var(--backgroundColor);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: 0;
}

.u-container {
  width: 300px;
  display: flex;
  flex-direction: column;
  background-color: var(--container-backgroundColor);
  padding: 10px;
  border: 1px solid var(--borderColor);
  border-radius: 5px;
  margin: 5px;
}

.u-innerContainer {
  display: flex;
  padding: 0 5px;
  gap: 5px
}

.u-hr {
  border: 1px solid var(--borderColor);
  margin: 10px 0;
}

.CharacterName,
.Gender,
.StartingClass,
.SoulLevel,
.AttributeIO,
.Humanity {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2px 0;
}

.CharacterName-label,
.Gender-label,
.StartingClass-label,
.SoulLevel-label {
  width: 120px;
}

.CharacterName-input,
.Gender-select,
.StartingClass-select {
  width: 150px;
  height: 20px;
  text-align: center;
  border: none;
}

.CharacterName-input::placeholder {
  font-style: italic;
}

.SoulLevel-level {
  width: 150px;
  text-align: center;
  border: 1px solid var(--borderColor);
}

.MiniCaption {
  display: flex;
  justify-content: space-around;
  font-size: 10px;
  color: var(--fontColor--em);
  text-align: center;
  margin: 5px 0;
}

.MiniCaption-label,
.AttributeIO-label,
.Humanity-label  {
  width: 100px;
  text-align: initial;
}

.MiniCaption-base,
.MiniCaption-current {
  width: 40px;
}

.MiniCaption-decrease,
.MiniCaption-increase {
  width: 20px;
}

.AttributeIO-output,
.AttributeIO-input,
.Humanity-input {
  width: 40px;
  height: 20px;
  text-align: center;
}

.AttributeIO-button,
.Humanity-button {
  width: 20px;
  height: 20px;
}

.Humanity-input {
  width: 90px;
}